<div class="container">
  <%= form_with(model: form, url: form_url, method: form_method) do |f| %>

    <% if form.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(form.errors.count, "error") %> prohibited this listing from being saved:</h2>
        <ul>
          <% form.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row g-3">
      <div class="col-4">
        <b><%= f.label :property_type %></b>
        <%= f.text_field :property_type, class: 'form-control' %>
      </div>
      <div class="col-4">
        <b><%= f.label :city %></b>
        <%= f.text_field :city, class: 'form-control' %>
      </div>
      <div class="col-4">
        <b><%= f.label :address %></b>
        <%= f.text_field :address, class: 'form-control' %>
      </div>
    </div>

    <div class="row g-2">
      <div class="col-6">
        <%= f.label :unit_type %>
        <%= f.select :unit_type, Listing.unit_types.keys, {}, { class: "form-select" } %>
      </div>
      <div class="col-6">
        <%= f.label :status %>
        <%= f.select :status, Listing.statuses.keys, {}, { class: "form-select" } %>
      </div>
    </div>

    <div class="row g-2">
      <div class="col-6">
        <b><%= f.label :bedrooms_quantity %></b>
        <%= f.text_field :bedrooms_quantity, class: 'form-control' %>
      </div>
      <div class="col-6">
        <b><%= f.label :price %></b>
        <%= f.text_field :price, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <b><%= f.label :description %></b>
      <%= f.text_area :description, class: 'form-control', rows: "3" %>
    </div>

    <div class="field">
      <%= f.label :agents %>
      <%= f.collection_check_boxes(:user_ids, form.agents, :id, :email) %>
    </div>

    <div data-controller="multi-upload">
      <div class="pictures">
        <%= f.label :pictures %>
        <%= f.file_field :pictures, multiple: true, accept: 'image/jpeg', class: 'form-control' %>
      </div>

      <% if listing&.pictures&.attached? %>
        <div class="mb-2 row">
          <% listing.pictures.each do |picture| %>
            <div class="col-2">
              <div class="row">
                <%= cl_image_tag(picture.key, width: 120, height: 80, crop: :fill, class: 'w-auto') %>
              </div>
              <div class="row">
                <%= link_to "Delete picture", listing_picture_path(listing, picture),
                            data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" } %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit nil, class: "btn btn-success mt-2" %>
    </div>
  <% end %>
</div>
