<!DOCTYPE html>
<html>
<head>
  <title>RealEstateApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= turbo_include_tags %>

</head>
<body>
<%= render 'layouts/navigation' %>
<%= turbo_frame_tag "modal" %>
<%= yield %>
<%= render 'layouts/last_visited', last_visited: @last_visited %>
<%= render 'layouts/footer' %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>

